# Import Libraries

In [2]:
#Import Libraries
import pandas as pd
import numpy as np
import os

# Import Dataframes

In [3]:
#Identify path 
path= '../02 Data/'

In [4]:
#import orders products combined 
df_ords_prods_combined=pd.read_pickle(os.path.join(path,'Prepared Data','orders_products_combined.pkl'))

In [5]:
#import products checked
df_prods=pd.read_csv(os.path.join(path,'Prepared Data','products_checked.csv'), index_col=False)

## Check Shape of dataframes

In [39]:
# df_orders_prods_combined shape
df_prods_combined. shape

(32434489, 11)

In [40]:
#df_prods shape
df_prods.shape

(49672, 5)

## merging orders prods combined to products

In [22]:
df_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,First_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [31]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [35]:
# Merging df prods combined and df prods
df_ords_prods_merge= df_prods.merge(df_prods_combined, on='product_id')

In [37]:
df_ords_prods_merge

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,First_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,2,0,9,5.0,False,27,0,both
32404855,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,1,4,11,NaN,True,5,0,both
32404856,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,5,3,8,15.0,False,12,0,both
32404857,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,9,3,15,5.0,False,11,1,both
32404858,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,11,1,15,6.0,False,35,0,both

In [ ]:
del df_ords_prods_combined

In [38]:
#check the shape of the new dataframe
df_ords_prods_merge.shape

(32404859, 15)

# Export df_ords_prods_merge

In [41]:
# exporting data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, 'Prepared Data','ords_prods_merge.pkl'))

In [ ]:
del df_ords_prods_combined