 # import libraries

In [54]:
# import Libraries
import pandas as pd
import numpy as np
import os

# import dataframe

In [2]:
#Identify path 
path= '../02 Data/'

In [3]:
# import customer dataframe
df_cust=pd.read_csv(os.path.join(path, 'Original Data', 'customers.csv'))

In [55]:
# import df_ords_prods_merge pickle
ords_prods_merge=pd.read_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge.pkl'))

In [70]:
df_cust.describe()

             user_id            Age   #_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

# Data Wrangling

## rename columns

In [5]:
# change column name ( surnam) to Last_name
df_cust.rename(columns={'Surnam':'Last_name'}, inplace=True)

In [7]:
# change column name State
df_cust.rename(columns={'STATE':'State'}, inplace=True)

In [9]:
# change column name n_dependants
df_cust.rename(columns={'n_dependants':'#_dependants'}, inplace=True)

In [13]:
# change column name  First name
df_cust.rename(columns={'First Name':'First_name'}, inplace=True)

In [43]:
# change column name ( surnam) to Last_name
df_cust.rename(columns={'fam_status':'marital_status'}, inplace=True)

### dropping columns

In [45]:
#dropping frist and last name bcus we have user_id
df_cust=df_cust.drop(columns=['First_name', 'Last_name'])

## Data consistency checks

In [51]:
df_cust.describe()

             user_id            Age   #_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

### Missing values

In [47]:
#checking for missing data
df_cust.isnull().sum()

user_id           0
Gender            0
State             0
Age               0
date_joined       0
#_dependants      0
marital_status    0
income            0
dtype: int64

no missing data

### Duplicates

In [19]:
# Checking for Duplicates
df_dups=df_cust[df_cust.duplicated()]

In [20]:
df_dups

Empty DataFrame
Columns: [user_id, First_name, Last_name, Gender, State, Age, date_joined, #_dependants, fam_status, income]
Index: []

no duplicates were found

### mixed data types

In [50]:
#check for mixed data columns
for col in df_cust.columns.tolist():
    weird=(df_cust[[col]].map(type) !=df_cust[[col]].iloc[0].apply(type)).any(axis=1) 
    if len(df_cust[weird])>0:
        print(col)

In [49]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         206209 non-null  int64
 1   Gender          206209 non-null  object
 2   State           206209 non-null  object
 3   Age             206209 non-null  int64
 4   date_joined     206209 non-null  object
 5   #_dependants    206209 non-null  int64
 6   marital_status  206209 non-null  object
 7   income          206209 non-null  int64
dtypes: int64(4), object(4)
memory usage: 12.6+ MB

no mixed types in this dataframe

### combine datasets

In [76]:
ords_prods_merge.shape

(32404859, 25)

In [67]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32404859 entries, 92376 to 26425803
Data columns (total 25 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int64
 6   user_id                 int64
 7   order_number            int64
 8   orders_day_of_week      int64
 9   order_hour_of_day       int64
 10  days_since_prior_order  float64
 11  First_order             bool
 12  add_to_cart_order       int64
 13  reordered               int64
 14  _merge                  category
 15  price_range_loc         object
 16  busiest_days            object
 17  busiest_period_of_day   object
 18  max_order               int64
 19  loyalty_flag            object
 20  avg_product_price       float64
 21  spending_flag           object
 22  frequent_cust           float64
 23  frequent_flag           object
 24  Median_days_between     float64
dtypes: bool(1), category(1), float64(5), int64(11), object(7)
memory usage: 6.9+ GB

In [62]:
ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'First_order',
       'add_to_cart_order', 'reordered', '_merge', 'price_range_loc',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'avg_product_price', 'spending_flag', 'frequent_cust', 'frequent_flag',
       'Median_days_between'],
      dtype='object')

In [75]:
df_cust.shape

(206209, 8)

In [59]:
df_cust.columns

Index(['user_id', 'Gender', 'State', 'Age', 'date_joined', '#_dependants',
       'marital_status', 'income'],
      dtype='object')

In [73]:
#Merge ords pords merge with customers data from on user_id
ords_prods_cust= ords_prods_merge.merge(df_cust,on='user_id',how='inner', suffixes=('_orders','_customers'))

In [74]:
ords_prods_cust.shape

(32404859, 32)

In [77]:
ords_prods_cust.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,frequent_cust,frequent_flag,Median_days_between,Gender,State,Age,date_joined,#_dependants,marital_status,income
0,196,Soda,77,7,9.0,2295261,1,9,1,16,...,20.5,non-frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423
1,10258,Pistachios,117,19,3.0,2295261,1,9,1,16,...,20.5,non-frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423
2,12427,Original Beef Jerky,23,19,4.4,2295261,1,9,1,16,...,20.5,non-frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423
3,25133,Organic String Cheese,21,16,8.6,2295261,1,9,1,16,...,20.5,non-frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423
4,46149,Zero Calorie Cola,77,7,13.4,2295261,1,9,1,16,...,20.5,non-frequent customer,20.5,Female,Alabama,31,2/17/2019,3,married,40423

# Export

In [80]:
# exporting ords prods cust (merged)
ords_prods_cust.to_pickle(os.path.join(path, 'Prepared Data','orders_prods_cust_merge.pkl'))